@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Mentorplan.dk - Vi ses efter sommeren</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="/temp/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="main">

        <div class="header">
            <div class="logo">
                Mentorplan
            </div>

            <div class="mail">
                <a href="mailto:jl@mentorplan.dk">jl@mentorplan.dk</a>
            </div>

            <div class="phone">
                <a href="tel:42955969">+45 4295 5969</a>
            </div>
            <div class="clear"></div>
        </div>


        <div class="center">
            <h1>Vi ses efter sommeren</h1>
        </div>

    </div>


</body>
</html>
